<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<% @recipes.each do |recipe| %>
  <h1><%= link_to recipe.title, recipe %></h1>
  <ul>
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time_min %></li>
  </ul>
<% end %>

<%= link_to 'Cadastrar receita', new_recipe_path %>
<%= link_to 'Cadastrar tipo da receita', new_recipe_type_path %>

<%= flash[:notice] %>
<%= form_tag(search_path, method: "get") do %>
  <%= label_tag(:search, "Buscar") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Pesquisar receita") %>
<% end %>